@import "tailwindcss";

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyah/thmanyahsans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyah/thmanyahsans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyah/thmanyahsans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyah/thmanyahsans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Sans";
  src: url("./assets/fonts/thmanyah/thmanyahsans-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Serif Display";
  src: url("./assets/fonts/thmanyahserifdisplay-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Serif Display";
  src: url("./assets/fonts/thmanyahserifdisplay-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Serif Display";
  src: url("./assets/fonts/thmanyahserifdisplay-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Serif Display";
  src: url("./assets/fonts/thmanyahserifdisplay-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Thmanyah Serif Display";
  src: url("./assets/fonts/thmanyahserifdisplay-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-burgundy: #6b1f3a;
  --color-green: #3e5626;
  --color-biscuit: #d1ad86;
  --color-offwhite: #efe6dc;
  --color-black: #171918;
  --color-white: #ffffff;
  --color-pink: #c16770;
  --font-arabic: "Thmanyah Sans", "Segoe UI", Tahoma, sans-serif;
  --font-serif-display: "Thmanyah Serif Display", Georgia, serif;
}

body {
  margin: 0;
  background: var(--color-offwhite);
  color: var(--color-black);
  font-family: var(--font-arabic);
}
